<% layout('layouts/base') -%>

    <nav class="mt-5" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/client">Client Details</a></li>
            <li class="breadcrumbs"><a href="/client/billing/<%= clientDetail._id %>">Show Billings</a></li>
        </ol>
    </nav>

    <div class="row main">

        <form class="mb-5" action="/client/billing/add/<%= clientDetail._id %>">
            <button class="btn btn-success me-3" type="submit">New Billing</button>
        </form>

        <div class="col-12">
            <table class="table align-middle text-center border-secondary table-striped">
                <thead>
                    <tr>
                        <th scope="col">Invoice</th>
                        <th scope="col">Items</th>
                        <th scope="col">Grand Total</th>
                        <th scope="col">Payment Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let billing of clientDetail.billings) { %>
                        <tr>
                            <td>
                                <%= billing.invoice %>
                            </td>
                            <td>
                                <%= billing.itemList %>
                            </td>
                            <td>
                                <%= billing.grandTotal %>
                            </td>
                            <td>
                                <% if(billing.paymentStatus) { %>
                                    Paid
                                <% } else { %>
                                    Unpaid
                                <% } %>   
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>