<% layout('layouts/base') -%>

    <nav class="mt-5" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/client">Client Details</a></li>
            <li class="breadcrumbs"><a href="/client/billing/<%= clientDetail._id %>">Show Billings</a></li>
        </ol>
    </nav>

    <div class="row main">

        <form class="mb-5" action="/client/billing/add/<%= clientDetail._id %>">
            <button class="btn btn-success me-3" type="submit">New Billing</button>
        </form>

        <div class="col-12 mb-5">
            <table id="clientTable" class="table table-success align-middle text-center border-secondary table-striped">
                <thead>
                  <tr>
                    <th scope="col" id="name">Client Name</th>
                    <th scope="col" id="address">Client Address</th>
                    <th scope="col" id="email">Client Email</th>
                    <th scope="col" id="contact">Client Contact</th>
                    <th scope="col" id="contact">Total Amount Payable</th>
                    <th scope="col" id="contact">Total Payed Amount</th>
                    <th scope="col" id="contact">Balance Due</th>
                  </tr>
                </thead>
                <tbody>
                        <td><%= clientDetail.name %></td>
                        <td><%= clientDetail.address %></td>
                        <td><%= clientDetail.email %></td>
                        <td><%= clientDetail.contact %></td>
                        <td><%= Math.round(amountPayable) %></td>
                        <td><%= Math.round(payedAmount) %></td>
                        <td><%= Math.round(amountPayable - payedAmount) %></td>
                    </tr>
                </tbody>
              </table>
        </div>

        <div class="col-12">
            <table class="table align-middle text-center border-secondary">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Invoice No</th>
                        <th scope="col">Items</th>
                        <th scope="col">Amount to be Payed</th>
                        <th scope="col">Payment Due</th>
                        <th scope="col">Modified By</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let billing of clientDetail.billings) { %>
                        <tr class=<%= billing.delRec === true ? "inactive" : "" %> <%= billing.paymentStatus === true ? "paid" : "" %> id="<%= billing._id %>">
                            <td>
                                <%= billing.billingDate.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= billing.invoice %>
                            </td>
                            <td>
                                <%= billing.itemList %>
                            </td>
                            <td>
                                <%= Math.round(billing.grandTotal - billing.amountPayed) %>
                            </td>
                            <td>
                                <% if(billing.paymentStatus) { %>
                                    Paid
                                <% } else { %>
                                    <%= billing.paymentDue %>
                                <% } %>   
                            </td>
                            <td>
                                <%= billing.modified.by %>
                            </td>
                            <td class="border-0">
                                <form action="/client/billing/<%= clientDetail._id %>/edit/<%= billing._id %>" method="GET">
                                    <button class="btn btn-primary my-1" type="submit" <%= billing.delRec === true ? "disabled" : "" %>>Edit</button>
                                </form>
                            </td>
                            <td class="border-0">
                                <form action="/client/billing/<%= clientDetail._id %>/send/<%= billing._id %>" method="GET">
                                    <button class="btn btn-primary my-1" type="submit" <%= billing.delRec === true ? "disabled" : "" %>>Invoice</button>
                                </form>
                            </td>
                            <td class="border-0">
                                <form action="/client/billing/confirm-deletion/<%= billing._id %>" method="GET">
                                    <button class="btn-close" type="submit" <%= billing.delRec === true ? "disabled" : "" %>></button>
                                </form>
                              </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>