<% layout('layouts/base') -%>


    <nav class="mt-5" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/client">Client Details</a></li>
            <li class="breadcrumbs"><a href="/client/billing/<%= clientDetail._id %>">Show Billings</a></li>
            <li class="breadcrumbs"><a href="/client/billing/edit/<%= clientDetail._id %>">Edit Billing</a></li>
        </ol>
    </nav>

    <h1 class="text-center">Edit Tax Invoice</h1>

    <div class="row main">
        <div class="col-12 mb-5">
            <table id="clientTable" class="table table-success align-middle text-center border-secondary table-striped">
                <thead>
                  <tr>
                    <th scope="col" id="name">Client Name</th>
                    <th scope="col" id="address">Client Address</th>
                    <th scope="col" id="email">Client Email</th>
                    <th scope="col" id="contact">Client Contact</th>
                    <th scope="col" id="contact">GST</th>
                    <th scope="col" id="contact">PAN</th>
                  </tr>
                </thead>
                <tbody>
                        <td><%= clientDetail.name %></td>
                        <td><%= clientDetail.address %></td>
                        <td><%= clientDetail.email %></td>
                        <td><%= clientDetail.contact %></td>
                        <td><%= clientDetail.gst %></td>
                        <td><%= clientDetail.pan %></td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>

    <div class="row m-3 mt-5">
        
        <form class="needs-validation" action="/client/billing/<%= clientDetail._id %>/edit/<%= billings._id %>?_method=PATCH" method="POST" novalidate>
            <div class="col-3 mb-5">
                <div class="input-group">
                    <span class="input-group-text">Company Profile</span>
                    <select class="form-select" name="billing[companyProfile]" id="company" aria-label="Company Name" >
                        <% for(companyProfile of companyProfiles) { %>
                            <% if(!companyProfile.delRec) { %>  
                                <option value="<%= companyProfile._id %>"><%= companyProfile.name %> </option>
                            <% } %> 
                        <% } %> 
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">Purchase Detail</span>
                    <select class="form-select" name="billing[purchaseDetail]" id="company" aria-label="Company Names" >
                        <% for(purchaseDetail of purchaseDetails) { %>
                            <% if(!purchaseDetail.delRec) { %>  
                                <option value="<%= purchaseDetail._id %>"><%= purchaseDetail.name %> </option>
                            <% } %> 
                        <% } %> 
                    </select>
                </div>
            </div>
            <div>
                <table id="hello" class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Items</th>
                            <th scope="col">HSN Code</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">GST (in %)</th>
                            <th scope="col">Grand Price</th>
                        </tr>
                    </thead>
                    <tbody id="invoice">
                        <% for(let i = 0; i < billings.hsn.length; i++) { %>

                            <tr id="<%= i + 1 %>-item">
                                <td>
                                    <input class="form-control" id="<%= i + 1 %>-items" type="text" name="billing[items]" value="<%= billings.items[i] %>" required>
                                    <div class="invalid-feedback">
                                        Must not be blank!
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" id="<%= i + 1 %>-hsn" type="number" name="billing[hsn]" min="1" step="1" min="0" value="<%= billings.hsn[i] %>" required>
                                    <div class="invalid-feedback">
                                        Must be a whole number greater than 0!
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" id="<%= i + 1 %>-quantity" type="number" name="billing[quantity]" min="1" step="1" min="0" value="<%= billings.quantity[i] %>" required>
                                    <div class="invalid-feedback">
                                        Must be a whole number greater than 0!
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" id="<%= i + 1 %>-price" type="number" name="billing[price]" min="0" step="0.01" value="<%= billings.price[i] %>" required>
                                    <div class="invalid-feedback">
                                        Must be greater than 0 and upto two decimal places!
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" id="<%= i + 1 %>-gst" type="number" name="billing[gst]" min="0" max="100" step="0.01" value="<%= billings.gst[i] %>" required>
                                    <div class="invalid-feedback">
                                        Should be between 0 to 100 and upto two decimal places!
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" id="<%= i + 1 %>-grandPrice" type="number" name="billing[grandPrice]" step="0.01" value="<%= billings.grandPrice[i] %>" readonly required>
                                </td>
                            </tr>
                        <% } %>
                        <tr id="grandTotal">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-end align-middle fw-bold">Grand Total:</td>
                            <td><input class="form-control" id="1-grandPrice" type="number" step="0.01" value="<%= billings.grandTotal %>" readonly required></td>
                        </tr>
                    </tbody>
                </table>

                <button id="add-item" class="btn btn-secondary" type="button">Add Items</button>
                <button id="add-item" class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script src="/scripts/editBilling.js"></script>