<% layout('layouts/base') -%>

    <div id="invoiceForm">
        <div class="container border p-0 mt-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-2 d-flex justify-content-center">
                        <img src="/images/logo.jpg" width="150" height="150" alt="">
                    </div>
                    <div class="col-8 border-start text-center pt-5">
                        <b>
                            <%= billings.companyProfile.name %> <br>
                            <%= billings.companyProfile.address %> 
                        </b>
                    </div>
                    <div class="col-2 border-start pt-5">
                        <b>
                            <div class="row">
                                    Ph:
                                    <div class="col">
                                            +91 <%= billings.companyProfile.contacts.phone %> <br>
                                            080-<%= billings.companyProfile.contacts.landline %>
                                    </div>
                            </div>
                        </b>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col border-top">
                        <p class="fs-5 text-uppercase text-center mb-0"><b>GST NO: <%= billings.companyProfile.gst %></b></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col border-top">
                        <p class="fs-1 text-uppercase text-center mb-0"><b>TAX INVOICE</b></p>
                    </div>
                </div>
            </div>
            <div class="container border-top">
                <div class="row d-flex justify-content-center">
                    <div class="col-6">
                        <b>Invoice No: <%= billings.invoice %></b>
                    </div>
                    <div class="col-6 border-start">
                        <b>Transport Mode: Lorry</b>
                    </div>
                </div>
            </div>
            <div class="container border-top">
                <div class="row d-flex justify-content-center">
                    <div class="col-6">
                        <b>Invoice Date: <%= billings.billingDate.toLocaleDateString() %> </b>
                    </div>
                    <div class="col-6 border-start">
                        <b>Vehicle Number:</b>
                    </div>
                </div>
            </div>
            <div class="container border-top">
                <div class="row d-flex justify-content-center">
                    <div class="col-6">
                        <b>Purchase Order: <%= billings.purchaseDetail.name %> </b>
                    </div>
                    <div class="col-6 border-start">
                        <b>E. Way Bill No.</b>
                    </div>
                </div>
            </div>
            <div class="container border-top">
                <div class="row d-flex justify-content-center">
                    <div class="col-6 text-center">
                        <b>Billing Address</b>
                    </div>
                    <div class="col-6 border-start text-center">
                        <b>Delivery Address</b>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col border-top border-bottom">
                        <div class="row">
                            <div class="col">
                                <b><%= billings.client.address %></b> 
                            </div>
                        </div>
                    </div>
                    <div class="col border-start border-top border-bottom">
                        <div class="row">
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-0">
                    <div class="col-1 border-end border-bottom">
                        <b>Sl<br>No.</b>
                    </div>
                    <div class="col-5 d-flex align-items-center border-end border-bottom">
                        <b>Particulars</b>
                    </div>
                    <div class="col-1 d-flex align-items-center border-end border-bottom">
                        <b>HSN code</b>
                    </div>
                    <div class="col-1 d-flex align-items-center border-end border-bottom">
                        <b>Qty</b>
                    </div>
                    <div class="col-2 d-flex align-items-center border-end border-bottom">
                        <b>Rate</b>
                    </div>
                    <div class="col-2 d-flex align-items-center border-bottom">
                        <b>Amount</b>
                    </div>
                </div>
            </div>
            <div class="container">
                <% for(let i=0; i < billings.items.length; i++) { %>
                    <div class="container p-0">
                        <div class="row p-0">
                            <div class="col-1 border-end border-bottom p-3">
                                <b><%= i + 1 %></b>
                            </div>
                            <div class="col-5 border-end border-bottom p-3">
                                <%= billings.items[i] %>
                            </div>
                            <div class="col-1 border-end border-bottom p-3">
                                <b><%= billings.hsn[i] %></b>
                            </div>
                            <div class="col-1 border-end border-bottom p-3">
                                <%= billings.quantity[i] %>
                            </div>
                            <div class="col-2 border-end border-bottom p-3">
                                <%= billings.price[i] %>
                            </div>
                            <div class="col-2 border-bottom p-3">
                                <%= billings.quantity[i] * billings.price[i] %>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="container">
                <div class="row py-0">
                    <div class="col-6 border-end text-end">
                        <div class="row border-bottom border-bottom py-0">
                            <div class="col text-center">
                                <b>
                                    Bank Details
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-end text-end">
                        <b>Total</b>
                    </div>
                    <div class="col text-end">
                        <b>
                            <%= Math.round(billings.total) %>
                        </b>
                    </div>
                </div>
                <div class="row py-0">
                    <div class="col-6 border-end text-end">
                        <div class="row border-bottom py-0">
                            <div class="col text-start">
                                <b>
                                    Bank Name: <%= billings.purchaseDetail.bankDetails.bankName %>
                                </b> 
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-bottom border-end text-end">
                    </div>
                    <div class="col border-bottom text-end">
                    </div>
                </div>
                <div class="row py-0">
                    <div class="col-6 border-end text-end">
                        <div class="row border-bottom py-0">
                            <div class="col text-start">
                                <b>
                                    Branch: <%= billings.purchaseDetail.bankDetails.bankAddress %>
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-bottom border-end text-end">
                        <b>Add: CGST <%= billings.gst[0] / 2 %>%</b>
                    </div>
                    <div class="col border-bottom text-end">
                            <%= Math.round(billings.total * ((billings.gst[0] / 2) / 100)) %>
                    </div>
                </div>
                <div class="row py-0">
                    <div class="col-6 border-end text-end">
                        <div class="row border-bottom py-0">
                            <div class="col text-start">
                                <b>
                                    A/C No. <%= billings.purchaseDetail.bankDetails.accountNumber %>
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-bottom border-end text-end">
                        <b>Add: SGST <%= billings.gst[0] / 2 %>%</b>
                    </div>
                    <div class="col border-bottom text-end">
                            <%= Math.round(billings.total * ((billings.gst[0] / 2) / 100)) %>
                    </div>
                </div>
                <div class="row py-0">
                    <div class="col-6 border-end text-end">
                        <div class="row border-bottom py-0">
                            <div class="col text-start">
                                <b>
                                    IFSC CODE: <%= billings.purchaseDetail.bankDetails.ifsc %>
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-bottom border-end text-end">
                        <b>Add: IGST <%= billings.gst[0] %>%</b>
                    </div>
                    <div class="col border-bottom text-end">
                        <b>
                        </b>
                    </div>
                </div>
                <div class="row py-0">
                    <div class="col-6 border-end text-end">
                        <div class="row border-bottom py-0">
                            <div class="col text-start">
                                <b>
                                    Treasury K2 R.I’D. 2900235396
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-bottom border-end text-end">
                        <b>Total Tax Amount</b>
                    </div>
                    <div class="col border-bottom text-end">
                        <b>
                            <% let totalTaxAmount = ((billings.total * ((billings.gst[0] / 2) / 100)) + (billings.total * ((billings.gst[0] / 2) / 100))) %>
                            <%= Math.round(totalTaxAmount) %> 
                        </b>
                    </div>
                </div>
                <div class="row py-0">
                    <div class="col-6 border-end text-end">
                        <div class="row py-0">
                            <div class="col text-start">
                                <b>
                                    (Rupees: IN WORDS)
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-end text-end">
                        <b>Grand Total</b>
                    </div>
                    <div class="col text-end">
                        <b>
                            <%= Math.round(totalTaxAmount + billings.total) %> 
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <div class="container border">
            <div class="row">
                <div class="col-2 text-center border-start">
                    <div class="col">
                        <div class="row m-3">
                            <div class="col">
                                <b>
                                    Prepared by
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center border-start">
                    <div class="col">
                        <div class="row m-3">
                            <div class="col">
                                <b>
                                    Verified by
                                </b>	
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-center border-start">
                    <div class="col">
                        <div class="row m-3">
                            <div class="col">
                                <b>
                                    Received the above
                                    goods in condition
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-center border-start">
                    <div class="col">
                        <div class="row m-3">
                            <div class="col">
                                <b>
                                    For Karnataka State Coir Co-Operative
                                    Federation Limited
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container border">
            <div class="row">
                <div class="col-2 text-center border-start">
                    <div class="col">
                        <div class="row m-3">
                            <div class="col pt-5">
                                <b>
                                    Signature
                                </b>	
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center border-start">
                    <div class="col">
                        <div class="row m-3">
                            <div class="col pt-5">
                                <b>
                                    Signature
                                </b>	
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-center border-start">
                    <div class="col">
                        <div class="row m-3">
                            <div class="col pt-5">
                                <b>
                                    Signature
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-center border-start">
                    <div class="col">
                        <div class="row m-3">
                            <div class="col pt-5">
                                <b>
                                    Authorised Signature
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>