<% layout('layouts/base') -%>


<div class="row main">
    <div class="col-12">
        <table class="table align-middle text-center border-secondary table-striped">
            <thead>
              <tr>
                <th scope="col" id="name">Vendor Name</th>
                <th scope="col" id="address">Vendor Address</th>
                <th scope="col" id="email">Vendor Email</th>
                <th scope="col" id="contact">Vendor Contact</th>
                <th scope="col" id="modified">Last Modified By</th>
                <th scope="col" id="activeStatus">Active Status</th>
                <th class="border-0" id="edit"></th>
                <th class="border-0" id="remove"></th>
              </tr>
            </thead>
            <tbody id="purchaseDetails">
              <% let i = 0; %> 
                <% for(let purchase of purchases) { %>
                
                <tr id="<%= purchase._id %>">
                    <td><%= purchase.name %></td>
                    <td><%= purchase.address %></td>
                    <td><%= purchase.email %></td>
                    <td><%= purchase.contact %></td>
                    <td><%= purchase.modified.by %></td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input px-4 toggleStatus" id="<%= i %>" type="checkbox" value="<%= purchase._id %>" <%= purchase.activeStatus == 'on' ? "checked" : "" %> >
                      </div>
                    </td>
                    <td class="border-0">
                      <form action="/purchase/edit/<%= purchase._id %>">
                          <button class="btn btn-primary" type="submit">Edit</button>
                      </form>
                    </td>
                    <td class="border-0">
                      <form action="/purchase/confirm-deletion/<%= purchase._id %>?_method=DELETE" method="POST">
                          <button class="btn-close" type="submit"></button>
                      </form>
                    </td>
                </tr>

                <% } %>
            </tbody>
          </table>
    </div>
</div>

<form action="/purchase/add" method="GET">
    <button class="btn btn-primary" type="submit">Add Details</button>
</form>

<script src="/scripts/sortTable.js"></script>